# Extraindo informações

In [41]:
import pandas as pd
import matplotlib.pyplot as plt


data = pd.read_csv('../../../data/mock.csv')
df = pd.DataFrame(data)

## Tratando DF

In [42]:
colunas = ['time_stamp']+[f'pergunta_{str(numero).zfill(0)}' for numero in range(1, 22)] + ['termos','nome', 'mail_01','idade','educacao','sexo','estado','trabalho','funcao','mail_02']

data.columns = colunas

#removendo as pessoas que discordaram dos termos e condições. 
df_com_termos = df[df['termos'] != 'Não']

#removendo pessoas com emails díspares
df_com_email_coreto = df[df['mail_01'] == df['mail_02']]
df = df_com_email_coreto
df.head(3)

,time_stamp,pergunta_1,pergunta_2,pergunta_3,pergunta_4,pergunta_5,pergunta_6,pergunta_7,pergunta_8,pergunta_9,...,termos,nome,mail_01,idade,educacao,sexo,estado,trabalho,funcao,mail_02
0,18/08/2023 10:23:07,2,1,3,0,2,1,3,0,2,...,Sim,Junior Silva,daniel@gmail.com,19-30,Ensino Fundamental incompleto,Masculino,AM,construtor,Não,daniel@gmail.com
1,18/08/2023 10:23:07,2,2,3,4,2,3,1,2,3,...,Sim,Marina Silva,marina@gmail.com,19-30,Ensino Fundamental completo,Feminino,RJ,construtor,Sim,marina@gmail.com
2,18/08/2023 16:03:02,0,1,1,1,3,0,3,1,3,...,Sim,Natael Sampaio,natael_engenheiro@gmail.com,31-40,Ensino Médio completo,Masculino,SP,Engenheiro,Não,natael_engenheiro@gmail.com

## Criando novo DF para geração dos gráficos individuais

In [43]:
#questões 
perguntas_d = [3, 5, 10, 13, 16, 17, 21]
perguntas_a = [2, 4, 7, 9, 15, 19, 20]
perguntas_s = [1, 6, 8, 11, 12, 14, 18]

#média pra cada categoria: depressão, ansiedade e estresse 
df['d_score'] = df[[f'pergunta_{num}' for num in perguntas_d]].mean(axis=1).round(1)
df['a_score'] = df[[f'pergunta_{num}' for num in perguntas_a]].mean(axis=1).round(1)
df['s_score'] = df[[f'pergunta_{num}' for num in perguntas_s]].mean(axis=1).round(1)

#criar novo df e dropar da df principal essas colunas recém criadas
user_score_df = df[['mail_01', 'nome', 'd_score', 'a_score', 's_score']].copy()
df.drop(['d_score', 'a_score', 's_score'], axis=1, inplace=True)

user_score_df.head()

                       mail_01            nome  d_score  a_score  s_score
0             daniel@gmail.com    Junior Silva      1.6      1.6      1.6
1             marina@gmail.com    Marina Silva      1.7      2.3      1.7
2  natael_engenheiro@gmail.com  Natael Sampaio      1.7      1.6      0.9
3            carol@beheart.app     Caroline Yu      3.0      3.0      3.0
5      joaomarcondes@gmail.com  João Marcondes      1.4      1.6      1.3

## Gerando gráficos a partir do novo DF

In [44]:
#https://matplotlib.org/stable/gallery/lines_bars_and_markers/bar_colors.html#sphx-glr-gallery-lines-bars-and-markers-bar-colors-py

from matplotlib.ticker import MaxNLocator


SAVE_PATH = '../../../outputs/'

for index, row in user_score_df.iterrows():

    mail = row['mail_01'] 
    nome = row['nome']
    
    scores = row.drop(['mail_01', 'nome'])

    x_texto = [f"Depressão\n\n{row['d_score']} de 4.0", f"Ansiedade\n\n{row['a_score']} de 4.0", f"Estresse\n\n{row['s_score']} de 4.0"]
    plt.figure().set_figheight(6)
    bar_labels = ['red', 'blue', 'green']
    bar_colors = ['tab:red', 'tab:blue', 'tab:green']
    plt.bar(x_texto, scores.values, color=bar_colors)
    plt.title(f'{nome} Pontuação de 0 a 4.0')
    
    plt.ylim(0,4)


    #deixar escala y com números inteiros
    plt.gca().yaxis.set_major_locator(MaxNLocator(integer=True))
    
    # salvando
    chart_filename = f'{mail}_chart.png'
    chart_path = SAVE_PATH + chart_filename
    plt.savefig(chart_path)
    
    plt.close()

[1.6 1.6 1.6]
[1.7 2.3 1.7]
[1.7 1.6 0.9]
[3.0 3.0 3.0]
[1.4 1.6 1.3]
[1.4 1.6 1.3]
[2.6 2.1 1.9]
[2.0 1.1 1.6]
[2.7 2.7 2.4]
[1.4 1.3 1.3]
[1.9 2.1 2.0]
[1.6 2.4 2.3]
[1.7 1.7 1.9]
[3.0 3.0 3.0]
[1.3 1.6 1.3]